UNBOUND_IMAGE=madnuttah/unbound:1.26.1-0

HOSTNAME=Pi-hole
PIHOLE_MACVLAN_IP=192.168.81.200
PIHOLE_BRIDGE_IP=192.168.72.2
PIHOLE_WEBPASSWORD=CHANGE_ME

UNBOUND_BRIDGE_IP=192.168.72.3

NETWORK_INTERFACE=eth0

MACVLAN_SUBNET=192.168.81.0/24
MACVLAN_GATEWAY=192.168.81.1

BRIDGE_SUBNET=192.168.72.0/24
BRIDGE_GATEWAY=192.168.72.1

PIHOLE_CONFIG_PATH=/volume1/docker/synologynas-container_manager-pihole-unbound/pihole/pihole
DNSMASQ_CONFIG_PATH=/volume1/docker/synologynas-container_manager-pihole-unbound/pihole/dnsmasq.d

TIMEZONE=Europe/Dublin